.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222; 
}

.nav-links li {
  float: left;
}

.nav-links a {
  display: block;
  color: #c5b358; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: #c5b358; 
  color: black;
}
