#regularText {
    background-color: #FFFFFF;
    color: #000000;
    border: 6px double #000000;
    padding: 7px;
    margin: 13px;
    font-family: 'times new roman';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    font-variant: normal;
    line-height: 18px;
    position: relative;
  }
  